/* Untuk Mobile Size */
@media screen and (max-width: 991px) {
    /* Untuk mengatur kemunculan */
    .nav-mobile {
        display: block;
    }

    /* Mengatur papan berita */
    .row.justify-content-center.margin-up{
    margin-top: -0.2em;
    margin-left: -5em;
    }

    .navbar-for-pc {
        display: none;
    }
    
}

/* Untuk Pc size */
@media screen and (min-width: 992px) { 

    .nav-mobile {
        display: none;
    }
    
}

/* untuk mengatur navbar paling atas*/
nav .container-fluid{
    display: block;
    background-color: #f4f3ef;
    height: auto;
} 

.display-pop-up-01 {
    display: none;
}

.display-pop-up-02 {
    display: none;
}

.drop-menu-01 span{
    float: left;
    color: red;
}

/* Mengatur card "berita teratas" */

.container .card {
    margin-bottom: 0px;
}

.container .card h4 {
    margin-top: 0px
}

.text-muted.text-capitalize.margin-up {
    margin-top: 3em;
}

/* Memberikan jarak antar car */
.space-between .card {
    margin: 2em;
}

/* Untuk ketingian aplikasi */
.application-dev .d-flex{
    display: inline-block;
    width: 0em;
    max-height: 5em;
}

/* Main page Navbar paling atas*/
.navbar {
    padding: 0;
    margin-top: -0.25em;
}

.navbar.navbar-transparent {
    border: 0px;
}

/* Navbar kiri untuk pc */
.navbar-for-pc {
    margin-left: -2em;
}
.navbar-for-pc ul{
    list-style-type: none;
}
.navbar-for-pc li {
    /* margin-right: 1em; */
    float: left;
    padding: 12px;
}

/* Untuk logo pada navbar */
.logo-responsive {
    height: 100%;
    width: 4em;
    float: left;
}

.second-navbar .container-fluid {
    color: #fff9f3;
    background-color: #66615b;
}

/* Mengatur jarak main content */
.main-panel > .content {
    /* margin-top: 3.5em; */
}